<table class="table table-hover align-middle">
  @if (!table || !table.headers) {
  <tr>
    <td class="text-center py-4" colspan="100%">
      Loading...
    </td>
  </tr>
  } @else {
  <thead>
    <tr>
      @for (header of table.headers; track header.label) {
      <th scope="col" (click)="onSort(header)" (keypress)="onSort(header)" [class.sortable]="header.sortable"
        class="user-select-none">
        <div class="d-flex align-items-center gap-1">
          {{ header.label }}

          @if (header.sortable) {
          <span class="text-muted small">
            @if (isSorted(header, 'asc')) {
            ▲
            } @else if (isSorted(header, 'desc')) {
            ▼
            } @else {
            ⇅
            }
          </span>
          }
        </div>
      </th>
      }

      @if (table.hasActions) {
      <th scope="col">Actions</th>
      }
    </tr>
  </thead>

  <tbody>
    @if (loading) {
    <tr>
      <td [attr.colspan]="table.headers.length + (table.hasActions ? 1 : 0)" class="text-center py-4">
        Loading...
      </td>
    </tr>
    } @else {
    @for (row of table.rows; track row.id) {
    <tr>
      @for (cell of row.cells; track cell; let colIndex = $index) {
      <td>
        @if (cellTemplate) {
        <ng-container *ngTemplateOutlet="cellTemplate;
                    context: {
                      $implicit: cell,
                      row: row,
                      colIndex: colIndex
                    }" />
        } @else {
        {{ cell }}
        }
      </td>
      }

      @if (table.hasActions) {
      <td>
        @for (action of row.actions ?? []; track action.label) {
        <button class="btn btn-sm me-1" [ngClass]="action.buttonClass" (click)="action.action(row)">
          {{ action.label }}
        </button>
        }
      </td>
      }
    </tr>
    }
    }
  </tbody>
  }
</table>