<nav class="d-flex justify-content-between align-items-center mt-3">
  @if (!pagination || !pagination.page) {
  <span class="text-muted">
    Loading...
  </span>
  }
  @else {
  <span class="text-muted">
    Page {{ pagination.page }} of {{ totalPages }}
    ({{ pagination.totalCount }} items)
  </span>

  <ul class="pagination mb-0">
    <li class="page-item" [class.disabled]="!pagination.hasPreviousPage">
      <button class="page-link" (click)="previous()">Previous</button>
    </li>

    @for (p of pages(); track p) {
    <li class="page-item" [class.active]="p === pagination.page">
      <button class="page-link" (click)="goTo(p)">
        {{ p }}
      </button>
    </li>
    }

    <li class="page-item" [class.disabled]="!pagination.hasNextPage">
      <button class="page-link" (click)="next()">Next</button>
    </li>

    <li class="page-item">
      <select class="btn btn-secondary dropdown-toggle page-link form-select pe-4" id="pageSize" name="pageSize"
        (change)="changePageSize($any($event.target).value)">
        @for (size of pageSizes; track size) {
        <option value="{{ size }}" [selected]="size === pagination.pageSize">{{ size }} items per page</option>
        }
      </select>
    </li>
  </ul>
  }
</nav>